In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
titanic = sns.load_dataset('titanic')
titanic.shape
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
titanic = titanic[['survived', 'pclass', 'sex', 'age']]
titanic.dropna(axis=0, inplace=True)
titanic['sex'].replace(['male', 'female'], [0, 1], inplace=True)
titanic.head()

   survived  pclass  sex   age
0         0       3    0  22.0
1         1       1    1  38.0
2         1       3    1  26.0
3         1       1    1  35.0
4         0       3    0  35.0

In [4]:
#modèle de classification KNeighborsClassifier

In [5]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
model = KNeighborsClassifier()

In [10]:
y = titanic['survived']
X = titanic.drop('survived', axis=1)

In [12]:
model.fit(X, y)
model.score(X, y)

0.8319327731092437

In [13]:
#fonction de prédiction pour savoir si on aurait survecu au nauffrage du titanic

In [23]:
def survie(model, pclass=3, sex=0, age=28):
    x = np.array([pclass, sex, age]).reshape(1, 3) #on veux une ligne et 3 colonnes
    print(model.predict(x))

In [24]:
survie(model)

[0]

In [16]:
#je ne survie pas, on peux calculer le proba d'appartenir à la classe 0 ou 1 avec predict.proba

In [19]:
def survie(model, pclass=3, sex=0, age=28):
    x = np.array([pclass, sex, age]).reshape(1, 3) #on veux une ligne et 3 colonnes
    print(model.predict(x))
    print(model.predict_proba(x))

In [20]:
survie(model)

[0]
[[1. 0.]]